@import 'index';

.thumbnail {
    position: relative;
    border-radius: 0.7rem;
    overflow: hidden;
    border: 1px solid var(--color-fourth);
    height: 80px;
    aspect-ratio: 1 / 1;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.thumbnail-contents {
    color: var(--color-font);
    font-size: 16px;
    font-family: $font-title;
    font-weight: 800;
}
