@import 'index';

.tool-wrapper {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 50px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;

    @include respond-to(xlarge) {
        grid-template-columns: none;
        gap: 0px;
        padding-left: 55px;
        padding-right: 55px;
    }
    @include respond-to(large) {
        padding-left: 35px;
        padding-right: 35px;
    }
    @include respond-to(medium) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include respond-to(small) {
        font-size: 14px;
        gap: 5px;
    }
}

.tool-change {
    display: flex;
    color: var(--color-fourth);
    justify-content: right;
    cursor: pointer;
}

.tool-title {
    display: flex;
    justify-content: center;
    font-family: $font-theme;
    color: var(--color-fourth);
    font-size: 1.9em;
    font-weight: 400;

    @include respond-to(small) {
        font-size: 1.5em;
    }
}

.tool-intro {
    font-family: $font-theme;
    color: var(--color-font);
    font-size: 16px;
    margin-top: 15px;

    p {
        font-size: 16px;
        @include respond-to(xlarge) {
            font-size: 15px;
        }
        @include respond-to(large) {
            font-size: 14px;
        }
        @include respond-to(medium) {
            font-size: 13px;
        }
        @include respond-to(small) {
            font-size: 12px;
        }
    }

    li {
        font-size: 16px;
        @include respond-to(xlarge) {
            font-size: 15px;
        }
        @include respond-to(large) {
            font-size: 14px;
        }
        @include respond-to(medium) {
            font-size: 13px;
        }
        @include respond-to(small) {
            font-size: 12px;
        }
    }

    @include respond-to(small) {
        max-height: 250px;
        overflow-y: auto;
    }
}

.tool-container {
    width: 100%;
    height: fit-content;
    font-family: $font-theme;
    color: var(--color-font);
    
    padding: 10px;

    background-color: var(--color-second);
    border-radius: 15px;

    font-size: 16px;
    @include respond-to(xlarge) {
        font-size: 15px;
    }
    @include respond-to(large) {
        font-size: 14px;
        padding: 8px;
    }
    @include respond-to(medium) {
        font-size: 13px;
    }
    @include respond-to(small) {
        font-size: 12px;
    }
}

.tool-inner {
    background-color: var(--color-third);
    padding: 20px;
    border-radius: 15px;

    @include respond-to(xlarge) {
        padding: 18px;
    }
    @include respond-to(large) {
        padding: 16px;
    }
    @include respond-to(medium) {
        padding: 15px;
    }
    @include respond-to(small) {
        padding: 14px;
    }
}

.tool-subtitle {
    font-size: 16px;
    font-family: $font-contents;
    font-style: italic;
    font-weight: 600;
    color: var(--color-font);
    margin-bottom: 5px;

    @include respond-to(xlarge) {
        font-size: 15px;
    }
    @include respond-to(large) {
        font-size: 14px;
    }
    @include respond-to(medium) {
        font-size: 13px;
    }
    @include respond-to(small) {
        font-size: 12px;
    }
}

.input-container {
    display: flex; /* grid 대신 flex 사용 */
    width: 100%;
    border: 2px solid var(--color-second);
    border-radius: 8px;
    overflow: hidden; /* 내부 요소들이 border-radius를 넘어가지 않도록 */
    background-color: var(--color-first);
    transition: border-color 0.3s;
}

.input-container:focus-within {
    border: 2px solid var(--color-fourth) !important;
}

.input-column {
    font-family: $font-theme;
    flex: 7;

    input[type=number] {
        margin-top: none !important;
        border: none !important;
    }
}

.result-column {
    flex: 3;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-left: 2px solid var(--color-second); /* 구분선 추가 */
    color: var(--color-subfont);
}

.calculated-value {
    font-size: 14px;
    font-family: $font-theme;
}

.datetime-input {
    position: relative;
    width: 200px;
}

.datetime-input input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* input의 캘린더 아이콘 스타일링 (브라우저마다 다를 수 있음) */
.datetime-input input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.formatted-date {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.unix-current {
    font-family: $font-title;
    font-size: 40px;
    font-style: italic;

    @include respond-to(xlarge) {
        font-size: 35px;
    }
    @include respond-to(large) {
        font-size: 20px;
    }
    @include respond-to(medium) {
        font-size: 20px;
    }
    @include respond-to(small) {
        font-size: 20px;
    }
}

.date-current {
    font-family: $font;
    font-size: 20px;
    font-style: italic;

    @include respond-to(xlarge) {
        font-size: 17px;
    }
    @include respond-to(large) {
        font-size: 16px;
    }
    @include respond-to(medium) {
        font-size: 15px;
    }
    @include respond-to(small) {
        font-size: 14px;
    }
}

.date-timezone select {
    appearance: none;
    font-family: $font-theme;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    background-color: var(--color-third);
    color: var(--color-font);
    border: 2px solid var(--color-second) !important;
    width: 100%;

    @include respond-to(xlarge) {
        font-size: 15px;
    }
    @include respond-to(large) {
        font-size: 14px;
    }
    @include respond-to(medium) {
        font-size: 13px;
    }
    @include respond-to(small) {
        font-size: 12px;
    }
}

.date-timezone select:focus {
    outline: none;
}

.date-timezone select:hover {
    border: 2px solid var(--color-fourth) !important;
}

select {
    appearance: none;
    font-family: $font-theme;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    background-color: var(--color-third);
    color: var(--color-font);
    border: 2px solid var(--color-second) !important;
    width: 100%;

    @include respond-to(xlarge) {
        font-size: 15px;
    }
    @include respond-to(large) {
        font-size: 14px;
    }
    @include respond-to(medium) {
        font-size: 13px;
    }
    @include respond-to(small) {
        font-size: 12px;
    }
}

select:focus {
    outline: none;
}

select:hover {
    border: 2px solid var(--color-fourth) !important;
}